<a href="https://colab.research.google.com/github/MariaZeleznik/learning_collab/blob/main/templates/python_data_collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

rozne metody generowania listy

In [8]:


my_list=[1, 2, 3]
ret_val=my_list.pop(1)
my_list.index(3)

1

In [ ]:
my_list=list(range(0, 100))

In [25]:
my_list=[]

for x in range(10):
  my_list.append(x)
print(my_list)

print(type(my_list))
print(type(x))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>
<class 'int'>

In [32]:
my_list=[x*2 for x in range(10) if x>3]
my_list

[8, 10, 12, 14, 16, 18]

In [61]:
print(len(my_list))
print(max(my_list))
print(min(my_list))
import math
print(sum(my_list))

import statistics 

statistics.mean(my_list)

my_list_text=["1", "2", "3"]
my_list=[int(x) for x in my_list_text]
average=sum(my_list)/len(my_list)
print(type(average))
# print(type(int("3")))
# print(type("3"))

3
3
1
6
<class 'float'>

In [65]:
x=2.65
int(x)
round(x)
math.ceil(x)

3

In [73]:
my_list=[0, 1, 2]*30
print(my_list)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [106]:
import string
my_list=[x for x in string.ascii_lowercase]
print(my_list[2::3])
my_list=[x.upper() for x in my_list]
print(my_list)
napis="gdf"
print(type(napis))
print(str.upper(napis))
print(napis.upper())

['c', 'f', 'i', 'l', 'o', 'r', 'u', 'x']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
<class 'str'>
GDF
GDF

In [107]:
napis1="pierwszy"
napis2=str("drugi")
print(napis1, napis2)

pierwszy drugi

In [108]:
my_int=int("1")
print("trzeci".upper())

TRZECI

In [112]:
my_list=string.ascii_lowercase
print(my_list)

abcdefghijklmnopqrstuvwxyz

In [113]:
x=list(my_list)
print(x)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [114]:
my_lambda=lambda x: x*x
my_lambda(4)

16

In [119]:
def my_pow(x):
  return x*x
  
upper_list=map(my_lambda, list(range(10)))
print(upper_list)
list(upper_list)

<map object at 0x7f0767b7a550>

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [121]:
upper_list=map(lambda x: x*x*x, list(range(10)))
print(upper_list)
list(upper_list)

<map object at 0x7f07707ca210>

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [125]:
upper_case_list=list(my_list)
# lambda x: x.upper()
upper_case_list=list(map(lambda x: x.upper(), list(my_list)))
print(upper_case_list)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']